Resources:
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
      - Endpoint:
          Fn::GetOptionSetting: {DefaultValue: nobody@nowhere.com, OptionName: NewSignupEmail}
        Protocol: email

option_settings:
  aws:elasticbeanstalk:environment:process:serviceSNS:
    DeregistrationDelay: '20'
    StickinessLBCookieDuration: '86400'
    StickinessType: lb_cookie
    HealthCheckInterval: '15'
    MatcherHTTPCode: '200'
    HealthyThresholdCount: '3'
    Port: '5100'
    HealthCheckPath: /
    StickinessEnabled: false
    UnhealthyThresholdCount: '5'
    Protocol: HTTP
    HealthCheckTimeout: '5'
  aws:elbv2:listenerrule:serviceSNS:
    Priority: '1'
    Process: serviceSNS
    HostHeaders: ''
    PathPatterns: /signupsns
  aws:elbv2:listener:80:
    Rules: serviceSNS
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: 'us-east-1'
    NOTIFICATION_TOPIC: '`{"Ref" : "NotificationTopic"}`'
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: nobody@nowhere.com

container_commands:
  02_Create_ENV_File:
    command: |
        #!/usr/bin/env bash
        echo "VAR1=$(/opt/elasticbeanstalk/bin/get-config environment -k NOTIFICATION_TOPIC)" > .env
